@media screen and (min-width: 800px) {
    .theme-mobids .connectors-list {
        margin-top: 60px
    }
}

.theme-mobids #search-downshift-input {
    background-color: unset !important;
    border-radius: 20px;
    padding: 14px 50px;
}

.theme-mobids #search-downshift-input::placeholder {
    color: black;
    opacity: 1;
}

.theme-mobids #search-downshift-input:-ms-input-placeholder {
    color: black;
    opacity: 1;
}

.theme-mobids #search-downshift-input::-ms-input-placeholder {
    color: black;
    opacity: 1;
}

.theme-mobids .search-icon, .theme-mobids .cancel-icon {
    fill: black !important;
    height: 14px;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-right: 4px
}

.theme-mobids .search-icon {
    height: 20px;
}

.theme-mobids .connector-content {
    padding: 35px 20px;
}

.theme-mobids .data-search {
    margin-bottom: 8px;
}

.theme-mobids .results {
    font-size: 13px;
    color: #8F8F8F;
    margin: 4px 12px
}

.theme-mobids .connector-content h2 {
    margin-bottom: 6px;
    font-size: 21px
}

.pagination {
    margin: 60px 0;
}

.theme-mobids .conn-list a > div.MuiCard-root:hover {
    background-color: #FFFF00;
}

.theme-mobids .pagination button {
    background-color: #FFFF00;
    text-transform: none;
    width: 100px;
    margin: 0 20px;
}

.theme-mobids .pagination button[disabled] {
    background-color: #8F8F8F;
}

.theme-mobids hr {
    background-color: black;
}

.theme-mobids .filter-container {
    padding: 0 30px;
    box-shadow: none;
    color: #8F8F8F
}

.theme-mobids .filter-container > div {
    margin: 10px 0;
}

.theme-mobids .filter-container h2 {
    color: black;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.theme-mobids .filter-container .expandable h2 {
    cursor: pointer;
}

.theme-mobids .filter-container .expandable > ul {
    display: none;
    padding-left: 10px;
}

.theme-mobids .filter-container .expandable.expanded > ul {
    display: block;
}

.theme-mobids .filter-container .expandable h2::after {
    content: "";
    display: block;
    float: right;
    background: url("../assets/icons/filter-open.svg") no-repeat;
    width: 13px;
    height: 13px;
    margin-top: 5px;
}

.theme-mobids .filter-container .expandable.expanded h2::after {
    background: url("../assets/icons/filter-close.svg") no-repeat;
}

.connector-content-container {
    margin-top: 20px;
}

.connector-content-container .link-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
}

.connector-links .link-content {
    color: #8F8F8F;
    font-size: 13px;
}