.theme-mobids.home {
    background-image: url(../assets/home-shape.svg);
    background-repeat: no-repeat;
    background-size: 500px;
}

.theme-mobids .appBarSpacer {
    min-height: 150px;
}

nav.toolbar-list {
    display: flex;
    padding-top: 0;
    flex-grow: 1;
}

.theme-mobids .appbar .login-button button {
    text-transform: none;
    color: black;
    background-color: #FFFF00;
    font-size: 17px;
    padding: 10px 30px;
    margin-bottom: 5px;
    font-weight: 100;
}

nav.toolbar-list .MuiListItem-root {
    width: auto
}

nav.toolbar-list .MuiListItem-root.Mui-selected, nav.toolbar-list .MuiListItem-root:hover {
    background: none;
}

header .logo-wrapper {
    min-width: 500px
}

header .menu-button {
    margin-left: 12px;
    align-self: flex-start;
    flex-grow: 1;
    text-align: end;
    display: none;
}

.theme-mobids .MuiToolbar-root {
     flex-wrap: wrap;
}

.theme-mobids footer .footer-copyright {
    max-width: 1100px;
    margin: auto !important;
    font-size: 18px;
    padding: 70px 0;
}

.theme-mobids footer .footer-copyright > div {
    margin: 0 10px
}

.theme-mobids footer .footer-mail {
    padding-left: 40px;
}

.theme-mobids footer .footer-copyright .MuiListItem-root {
    justify-content: flex-start !important;
}

.theme-mobids footer .footer-right {
    text-align: right;
}

.theme-mobids footer .footer-right .modified {
    color: #FFFF00;
}

.theme-mobids footer .footer-right .copyright {
    font-size: 16px;
    color: #8F8F8F;
}

@media screen and (max-width: 800px) {
    header .menu-button {
        display: block;
    }

    header .MuiToolbar-root {
        display: block;
    }

    header .logo-wrapper {
        min-width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

    nav.toolbar-list {
        display: block;
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }

    nav.toolbar-list.hidden, .search-icon.hidden, .login-button.hidden {
        display: none;
    }
}